body {
    display: flex; 
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

#calculatorContainer {
    background-color: #1a2121;
    padding: 1rem;
    border-radius: 5px;
    display: grid;
}

#displayScreen {
    background-color: #E7F6F2; 
    padding: .5em;
    height: 6rem;
    border-radius: 5px;
    font-size: 4em;
    text-align: end;
}

button {
    background-color: #90C8AC;
    border-radius: 25%;
    font-size: 1.5em;
    /* color: #E7F6F2; */
    min-height: 3em;
    min-width: 3em;
}
button:hover {
    background-color: #4e876b;
}

#buttons {
    font-family: monospace;
    display: grid;

    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-areas: 
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero decimal divide equal";
    /* height: 20rem;
    width: 20rem; */
    gap: .5rem
}

.functions {
    background-color: #73A9AD;
    /* color: #2C3333; */
}

.functions:hover{
    background-color: #39696d;
}

#clear {
    height: 4rem;
}

#zero { grid-area: zero; }
#one { grid-area: one; }
#two { grid-area: two; }
#three { grid-area: three; }
#four { grid-area: four; }
#five { grid-area: five; }
#six { grid-area: six;} 
#seven { grid-area: seven; }
#eight { grid-area: eight; }
#nine { grid-area: nine; }
#plus { grid-area: plus; }
#minus { grid-area: minus; }
#multiple { grid-area: multiply; }
#divide { grid-area: divide; }
#decimal { grid-area: decimal; }
#equals { grid-area: equal; }

